html {
  font-size: 16px;
}
body {
  font-family: "Helvetica", sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  color: #696969;

}
div {
  display: block;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
.header {
  position: fixed;
  width: 100%;
  background-color: white;
  font-family: "Helvetica";
  padding: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  height: 4rem;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}
#companytitle {
  display: flex;
  font-family:
}
#colmar {
  color: darkgray;
  font-weight: bold;
}
#academy {
  color: lightgray;
}

nav {
  display: block;
  padding: 1.5rem;
}
.topnav {
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  padding: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 1025px) {
  .sandwich {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .topnav {
    display: none;
  }
  .sandwich {
    display: block;
  }
}
/* Jumbotron */
.maincontent {
  max-width: 1060px;
  margin: 0;
  padding: 0;
  position: relative;
}
.jumbotron {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-top: 4rem;

}
.jumbotron .container {
  display: flex;
  align-items: center;


}
.mainimage {
  margin: 4rem 3rem;
  }
.mainimage img {
  max-width: 636px;
}

.jumbotron .headline {

  margin: 0 5rem;
}
.headline .button {
  display: block;
  background-color: #696969;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-size: 1.5rem;
  width: 26rem;
  text-align: center;
  margin-top: 2.5rem;
}
/*Information Section */
.information  {
  display: flex;
  width: 100%;
  margin: 0;
}
.information .container {
  background-color: white;
  border: 1px solid black;
  display: flex;

}
.quote-banner {
  display: block;
  margin: 4rem 3rem;

}
.quote-banner img {
  max-width: 636px;
}
.quote h2 {
  padding-bottom: 1.5rem;
}
.quote h4 {
  line-height: 2rem;
  padding-bottom: 2.5rem;
}
.infolist {
  margin: 2rem 1rem;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 423px;

}
.info {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.infoimage {
  max-width: 9.25rem;
  padding-right: 2rem;
  margin-right: 2rem;
  position: relative;
}
.infoimage img {
  width: 148px;
}
.infotext {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;

}
.infotext h3 {
  padding-bottom: 1rem;
}
